<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Login Page</h2><br>
    <div class="login">
    <form id="login" method="post" action="/login">
        <label><b>User Name
        </b>
        </label>
        <input type="text" name="Email" id="Uname" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Password" id="Pass" placeholder="Password">
        <br><br>
        <button type="submit" name="log" id="log" value="Log In Here">Log In Here</button>
        <br><br>
    </form>
</div>
</body>
</html>
