<script>
   $(document).ready(function () {
    market_list();
  });


  function market_list(){
    $.ajax({
      url: "/cmbinv",
      type: "GET",
      cache: false,
    }).done((market) => {
      var list = document.getElementById("market_deatil");
        list.innerHTML = '';
      for(let i =0;i<market.length; i++){
        $("#market_deatil").append(`
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card bg-black">
      <div class="card-body p-10">
        <h5>${market[i].market}</h5>
        <div class="dropdown-divider pt-1"></div>
        <div class="row mt-2">
          <div class="col-4">
            <h6 class="text-muted font-weight-normal">Mgmt Fee</h6>
          </div>
          <div class="col-8">
            <h6 class="mb-1">123</h6>
          </div>
        </div>
        <div class="row mt-1 align-items-center">
          <div class="col-4">
            <h6 class="text-muted font-weight-normal mb-0">P&L</h6>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-center align-self-start">
              <h4 class="mb-0 text-success">38,629</h4>
              <p class="text-success ms-3 mb-0 font-weight-medium">8%</p>
            </div>
          </div>
          <div class="col-2">
            <div class="icon icon-box-info" style="cursor: pointer;"  data-bs-toggle="modal" data-bs-target="#editprofit">
              <span class="mdi mdi-lead-pencil icon-item"></span>
            </div>
          </div>
        </div>
        <div class="row mt-1 align-items-center">
          <div class="col-4">
            <h6 class="text-muted font-weight-normal mb-0">Capital</h6>
          </div>
          <div class="col-8">
            <div class="d-flex align-items-center align-self-start">
              <h4 class="mb-0">${market[i].TotalAmount}</h4>
              <p class=" ms-3 mb-0 font-weight-medium">45.48%</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

        `)
      }

    });
}
</script>

